*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1{
    font-size: 50px;
    color: rgb(47, 147, 193);
    font-style: italic;
    text-align: center;
}
#value{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
}
.button{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.dec{
    border-radius: 9px;
    border: 1px solid black;
    padding: 15px 25px;
    letter-spacing: 2px;
    font-size: 20px;
}
.res{
    border-radius: 9px;
    border: 1px solid black;
    padding: 15px 25px;
    letter-spacing: 2px;
    font-size: 20px;
}
.inc{
    border-radius: 9px;
    border: 1px solid black;
    padding: 15px 25px;
    letter-spacing: 2px;
    font-size: 20px;
}
.dec:hover{
    background-color: black;
    color: white;
    border: 2px solid lightblue;
    cursor: pointer;   
}
.inc:hover{
    background-color: black;
    color: white;
    border: 2px solid lightblue;
    cursor: pointer;
    
}
.res:hover{
    background-color: black;
    color: white;
    border: 2px solid lightblue;
    cursor: pointer;
    
}